html body {
	font-family: Arial, sans-serif;
	color: #111
	background: #E7E7E7;
}

a {
	color: #0078A0;
}

button {
	cursor: pointer;
}

.content {
	text-align: left;
	padding: 0 10% 0 20px;
	border: 1px solid #555;
}

.content h1 {
	text-transform: capitalize;
	font-weight: bold;
	margin: 20px 0;
}

.content .subtitle {
	font-size: 14px;
	font-style: italic;
}

.content span {
	font-weight: bold;
}

.content form {
	padding: 10px;
	width: 300px;
	margin: 0 auto;
}

.content form input[type="text"] {
	width: 100%;
	/*border: 2px solid #107394;*/
	color: #111;
	background: #FFF;
	margin: 15px 0;
}

.content form input[type="submit"] {
	cursor: pointer;
}

.content div > div {
	margin-bottom: 25px;
	padding: 10px;
	width: 100%;
	text-transform: capitalize;
	border: 1px solid #555;
}

.click {
	background: #ADD8E6;
	cursor: pointer;
}

.mouse-over {
	background: #CF6E0E;
}

.submit {
	background: #59BF7C;
}

.timeout {
	background: #5F6EB3;
	color: white;
	display: none;
}

.added {
	margin-bottom: 25px;
}

#gt-response {
	margin: 15px 0;
	font-weight: bold;
	font-size: 20px;
}